<div class="modal-footer">
    <div class="col-md-offset-2 col-md-12">
        <input type="submit" id="btnSave" value="Salvar" class="btn btn-success" />
        <input type="button" class="btn btn-info" value="Fechar" data-dismiss="modal" />
    </div>
</div>