@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Bem Bindo ao sistema básico de cadastro de Fazenda e Animais da GA</h5>

    <a href="https://www.gestaoagropecuaria.com.br/"><img src="~/images/Backgroung_01.jpg" ></a>

</div>
