@model GA.Fazenda.APP.ViewModels.FazendaVM

@{
    ViewData["Title"] = " Nova Fazenda ";
    Layout = "";
}

<partial name="_partialModalDialog" />

<form asp-action="Create" asp-controller="Fazenda">

    <div class="modal-body">

        <vc:summary></vc:summary>

        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome"  class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
      
        <partial name="_partialSubmit" />
    </div>
</form>

